
<a id="home" href="/">Home</a>
<a id="about" href="/About.html">About</a>
<a id="profile" href="/Profile.html">Feed</a>
<%if (isAuthenticated) { %>
  <a id="logout" href="/logout">Logout</a>
  <% } else { %>
<a id="signup" href="/SignUp.html">SignUp</a>
<a id="login" href="/login">LogIn</a>
<% } %>

<!-- <a id="home" href="/">Home</a>
<a id="about" href="/About.html">About</a>
<a id="profile" href="/Profile.html">Feed</a>
<a id="signup" href="/SignUp.html">SignUp</a>
<a id="login" href="/login">LogIn</a>
<a id="logout" href="/logout">Logout</a>
<a id="feed1" href="/feed1.html">test</a> -->
